# Auto detect text files and perform LF normalization
* text=auto
Rocky filter=lfs diff=lfs merge=lfs -text
Terrain.exr filter=lfs diff=lfs merge=lfs -text
D:/Unity_Projects/DrivingSimulator/Assets/_DrivingSimulation/Textures/Terrain_Heightmap/Height filter=lfs diff=lfs merge=lfs -text
Map filter=lfs diff=lfs merge=lfs -text
16k filter=lfs diff=lfs merge=lfs -text
D:/Unity_Projects/DrivingSimulator/Assets/_DrivingSimulation/Textures/Terrain_Heightmap/Height[[:space:]]Map[[:space:]]16k[[:space:]]Rocky[[:space:]]Terrain.exr filter=lfs diff=lfs merge=lfs -text
D:/Unity_Projects/DrivingSimulator/Assets/_DrivingSimulation/Textures/Terrain_Heightmap/Height[[:space:]]Map[[:space:]]16k[[:space:]]Rocky[[:space:]]Terrain.exr filter=lfs diff=lfs merge=lfs -text
